$base00: #1b1c29; // bg
$base01: #292a37; // light bg
$base02: #2e303d; // lighter bg
$base03: #44465c; // lightest bg

$base04: #6e738d; // fg
$base05: #9699b7; // light fg
$base06: #babcd5; // lighter fg
$base07: #dee5f3; // lightest fg

$base08: #ec6a88; // red
$base09: #f09f89; // orange
$base0A: #efb993; // yellow
$base0B: #3fdaa4; // green
$base0C: #3fc6de; // cyan
$base0D: #3f74de; // blue
$base0E: #b072d1; // purple
$base0F: #b79176; // brown


* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "HackNerdFontMono";
  //border: solid 1px $red;
}

.bar {
  background-color: $base00;
  color: $base05
}

.event-button {
  transition: all 400ms cubic-bezier(0,.34,.61,1);
  border-radius: 10px;

  &:hover {
    transition: all 250ms cubic-bezier(0,.34,.61,1);
    background-color: $base02;
  }

  &:active {
    transition: none;
    background-color: $base05;
  }
}

// Credits AlphaTechnolog
.powermenu-box {
  padding: 0 2px;
  margin: 7px 7px 7px 0px;
  background: inherit;

  .dispatcher {
    border-radius: 15px;
    background: $base00;
    color: $base08;
    font-size: 14px;
    padding: 0 14px 0 10px;

    &:hover { background-color: $base03; }
    &:active { background-color: $base07; }
  }
}

// powermenu
.powermenu-container {
  background: $base01;
  color: $base05;
  padding: 10px;
  font-size: 55px;

  transition: all 200ms cubic-bezier(.1,-0.00,.0,1.49);

  .btn { margin: 1rem;}

  // shutdown
  .shutdown-btn-box .btn {
    color: $base08;
    border-radius: 15px;
    background-color: $base01;
    &:hover { background-color: $base03; }
    &:active { background-color: $base07; }
  }
  // reboot
  .reboot-btn-box .btn {
    color: $base09;
    border-radius: 15px;
    background-color: $base01;
    &:hover { background-color: $base03; }
    &:active { background-color: $base07; }
  }
  // exit
  .exit-btn-box .btn {
    color: $base0A;
    border-radius: 15px;
    background-color: $base01;
    &:hover { background-color: $base03; }
    &:active { background-color: $base07; }
  }
}
